body{
  background: linear-gradient(120deg,#0f2027,#203a43,#2c5364);
  color: white;
  font-family: Arial;
  text-align: center;
}

.title{
  margin-top: 20px;
  animation: slideDown 1s ease;
}

.container{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.card{
  width: 180px;
  height: 120px;
  background: rgba(255,255,255,0.1);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: 0.3s;
  animation: fadeUp 1s ease;
}

.card:hover{
  transform: scale(1.1);
  background: rgba(255,255,255,0.25);
}

/* Animations */
@keyframes fadeUp{
  from{opacity:0; transform:translateY(40px);}
  to{opacity:1; transform:translateY(0);}
}

@keyframes slideDown{
  from{opacity:0; transform:translateY(-40px);}
  to{opacity:1; transform:translateY(0);}
}

